parameters:
    level: 5
    paths:
        - app
    excludePaths:
        - app/Console/Kernel.php
        - app/Exceptions/Handler.php
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Call to an undefined method Illuminate\Database\Eloquent\Builder#'
